In [30]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [31]:
title = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','income']
df_Train = pd.read_csv(r'C:\Users\USER\DataMining-hw\hw1\adult.data', names = title, header=None)
df_Test = pd.read_csv(r'C:\Users\USER\DataMining-hw\hw1\adult.test', names = title, header=None)

       age          workclass    education       marital-status  \
0       39          State-gov    Bachelors        Never-married
1       50   Self-emp-not-inc    Bachelors   Married-civ-spouse
2       38            Private      HS-grad             Divorced
3       53            Private         11th   Married-civ-spouse
4       28            Private    Bachelors   Married-civ-spouse
...    ...                ...          ...                  ...
32556   27            Private   Assoc-acdm   Married-civ-spouse
32557   40            Private      HS-grad   Married-civ-spouse
32558   58            Private      HS-grad              Widowed
32559   22            Private      HS-grad        Never-married
32560   52       Self-emp-inc      HS-grad   Married-civ-spouse

               occupation    relationship    race      sex  capital-gain  \
0            Adm-clerical   Not-in-family   White     Male          2174
1         Exec-managerial         Husband   White     Male             0
2       Handlers-cleaners   Not-in-family   White     Male             0
3       Handlers-cleaners         Husband   Black     Male             0
4          Prof-specialty            Wife   Black   Female             0
...                   ...             ...     ...      ...           ...
32556        Tech-support            Wife   White   Female             0
32557   Machine-op-inspct         Husband   White     Male             0
32558        Adm-clerical       Unmarried   White   Female             0
32559        Adm-clerical       Own-child   White     Male             0
32560     Exec-managerial            Wife   White   Female         15024

       capital-loss  hours-per-week  native-country  income
0                 0              40   United-States   <=50K
1                 0              13   United-States   <=50K
2                 0              40   United-States   <=50K
3                 0              40   United-States   <=50K
4                 0              40            Cuba   <=50K
...             ...             ...             ...     ...
32556             0              38   United-States   <=50K
32557             0              40   United-States    >50K
32558             0              40   United-States   <=50K
32559             0              20   United-States   <=50K
32560             0              40   United-States    >50K

[32561 rows x 13 columns]
       age      workclass      education       marital-status  \
0       25        Private           11th        Never-married
1       38        Private        HS-grad   Married-civ-spouse
2       28      Local-gov     Assoc-acdm   Married-civ-spouse
3       44        Private   Some-college   Married-civ-spouse
4       18              ?   Some-college        Never-married
...    ...            ...            ...                  ...
16276   39        Private      Bachelors             Divorced
16277   64              ?        HS-grad              Widowed
16278   38        Private      Bachelors   Married-civ-spouse
16279   44        Private      Bachelors             Divorced
16280   35   Self-emp-inc      Bachelors   Married-civ-spouse

               occupation     relationship                 race      sex  \
0       Machine-op-inspct        Own-child                Black     Male
1         Farming-fishing          Husband                White     Male
2         Protective-serv          Husband                White     Male
3       Machine-op-inspct          Husband                Black     Male
4                       ?        Own-child                White   Female
...                   ...              ...                  ...      ...
16276      Prof-specialty    Not-in-family                White   Female
16277                   ?   Other-relative                Black     Male
16278      Prof-specialty          Husband                White     Male
16279        Adm-clerical        Own-child   Asian-Pac-Islander     Male
16280     Exec-managerial          Husband                White     Male

       capital-gain  capital-loss  hours-per-week  native-country  income
0                 0             0              40   United-States   <=50K
1                 0             0              50   United-States   <=50K
2                 0             0              40   United-States    >50K
3              7688             0              40   United-States    >50K
4                 0             0              30   United-States   <=50K
...             ...           ...             ...             ...     ...
16276             0             0              36   United-States   <=50K
16277             0             0              40   United-States   <=50K
16278             0             0              50   United-States   <=50K
16279          5455             0              40   United-States   <=50K
16280             0             0              60   United-States    >50K

[16281 rows x 13 columns]

       age          workclass    education       marital-status  \
0       39          State-gov    Bachelors        Never-married
1       50   Self-emp-not-inc    Bachelors   Married-civ-spouse
2       38            Private      HS-grad             Divorced
3       53            Private         11th   Married-civ-spouse
4       28            Private    Bachelors   Married-civ-spouse
...    ...                ...          ...                  ...
32556   27            Private   Assoc-acdm   Married-civ-spouse
32557   40            Private      HS-grad   Married-civ-spouse
32558   58            Private      HS-grad              Widowed
32559   22            Private      HS-grad        Never-married
32560   52       Self-emp-inc      HS-grad   Married-civ-spouse

               occupation    relationship    race      sex  capital-gain  \
0            Adm-clerical   Not-in-family   White     Male          2174
1         Exec-managerial         Husband   White     Male             0
2       Handlers-cleaners   Not-in-family   White     Male             0
3       Handlers-cleaners         Husband   Black     Male             0
4          Prof-specialty            Wife   Black   Female             0
...                   ...             ...     ...      ...           ...
32556        Tech-support            Wife   White   Female             0
32557   Machine-op-inspct         Husband   White     Male             0
32558        Adm-clerical       Unmarried   White   Female             0
32559        Adm-clerical       Own-child   White     Male             0
32560     Exec-managerial            Wife   White   Female         15024

       capital-loss  hours-per-week  native-country  income
0                 0              40   United-States   <=50K
1                 0              13   United-States   <=50K
2                 0              40   United-States   <=50K
3                 0              40   United-States   <=50K
4                 0              40            Cuba   <=50K
...             ...             ...             ...     ...
32556             0              38   United-States   <=50K
32557             0              40   United-States    >50K
32558             0              40   United-States   <=50K
32559             0              20   United-States   <=50K
32560             0              40   United-States    >50K

[32561 rows x 13 columns]
       age      workclass      education       marital-status  \
0       25        Private           11th        Never-married
1       38        Private        HS-grad   Married-civ-spouse
2       28      Local-gov     Assoc-acdm   Married-civ-spouse
3       44        Private   Some-college   Married-civ-spouse
4       18           <NA>   Some-college        Never-married
...    ...            ...            ...                  ...
16276   39        Private      Bachelors             Divorced
16277   64           <NA>        HS-grad              Widowed
16278   38        Private      Bachelors   Married-civ-spouse
16279   44        Private      Bachelors             Divorced
16280   35   Self-emp-inc      Bachelors   Married-civ-spouse

               occupation     relationship                 race      sex  \
0       Machine-op-inspct        Own-child                Black     Male
1         Farming-fishing          Husband                White     Male
2         Protective-serv          Husband                White     Male
3       Machine-op-inspct          Husband                Black     Male
4                    <NA>        Own-child                White   Female
...                   ...              ...                  ...      ...
16276      Prof-specialty    Not-in-family                White   Female
16277                <NA>   Other-relative                Black     Male
16278      Prof-specialty          Husband                White     Male
16279        Adm-clerical        Own-child   Asian-Pac-Islander     Male
16280     Exec-managerial          Husband                White     Male

       capital-gain  capital-loss  hours-per-week  native-country  income
0                 0             0              40   United-States   <=50K
1                 0             0              50   United-States   <=50K
2                 0             0              40   United-States    >50K
3              7688             0              40   United-States    >50K
4                 0             0              30   United-States   <=50K
...             ...           ...             ...             ...     ...
16276             0             0              36   United-States   <=50K
16277             0             0              40   United-States   <=50K
16278             0             0              50   United-States   <=50K
16279          5455             0              40   United-States   <=50K
16280             0             0              60   United-States    >50K

[16281 rows x 13 columns]

In [ ]:
import rpy2.robjects as ro

# 加载 rpart 包
rpart = ro.r('library(rpart)')

# 直接用 R 語言建立 DataFrame
df_r = ro.DataFrame({'x': [1, 2, 3], 'y': [4, 5, 6]})

# 在 R 中使用数据
ro.globalenv['my_r_data'] = df_r

# 在 R 中定义 target 变量
rpart_code = """
target <- c(1, 0, 1)
feature1 <- c(1, 2, 3)
feature2 <- c(1, 2, 3)
"""
ro.r(rpart_code)

# 在 R 中执行决策树分析
r_code = """
my_tree <- rpart(target ~ feature1 + feature2, data=my_r_data)
"""
ro.r(r_code)

# 从 R 中提取决策树模型
rpart_model = ro.globalenv['my_r_data']

# 将模型转换为 Python 数据结构
model_summary = ro.r('summary(my_tree)')
print(model_summary)